<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity6">
    <!-- HTML 헤더 -->
    <head th:fragment="htmlHead(title)">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title th:text="${title}"></title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <!-- 부트스트랩 아이콘 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>

    <body>
        <!-- Page 헤더 -->
        <nav th:fragment="pageHeader" class="navbar navbar-expand-lg">
            <style>
                .custom-dropdown {
                    min-width: 300px; /* 원하는 크기로 조절 */
                    max-width: 500px; /* 최대 크기 제한 */
                    padding-bottom: 0px;
                }
                .wallet {
                    background-color: #F0F3FA;
                }
                .wallet-now {
                    background-color: #e5ebfd;
                }
                .navbar-nav .nav-link.active {
                    color: #3b3bff !important;  /* 글자색 파란색 */
                    text-decoration: underline !important; /* 밑줄 추가 */
                    /* !important를 붙여야 Bootstrap 기본 스타일보다 우선 적용됨. */
                }
            </style>
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{#}" />
                    로고예정
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{#}"
                               th:classappend="${#httpServletRequest != null and #httpServletRequest.requestURI == '/free'} ? 'active' : ''">
                                무료소설
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{#}"
                               th:classappend="${#httpServletRequest != null and #httpServletRequest.requestURI == '/paid'} ? 'active' : ''">
                                유료소설
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{#}"
                               th:classappend="${#httpServletRequest != null and #httpServletRequest.requestURI == '/book'} ? 'active' : ''">
                                도서
                            </a>
                        </li>
						<li class="nav-item dropdown" sec:authorize="isAuthenticated() and principal.loginId == 'admin'">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								어드민메뉴
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/admin/waitingpayment}">결제 대기</a></li>
								<li><a class="dropdown-item" href="#">Another action</a></li>
								<li><a class="dropdown-item" href="#">Something else here</a></li>
							</ul>
						</li>
					</ul>
                    <form class="d-flex me-3 flex-grow-1" method="get" th:action="@{/novel/search/result}" onsubmit="return validateSearch(event)">
                        <div class="input-group">
                            <input class="form-control" type="search" name="keyword" id="searchKeyword" placeholder="제목, 작가를 입력하세요." aria-label="Search" 
                            	th:value="${param.keyword}" />
                            <button class="btn btn-outline-primary" id="btnSearch" type="submit">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>

                    <!-- 로그인/회원가입 모달 생성 버튼 -->
                    <div sec:authorize="isAnonymous()">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#signModal">
                            <i class="bi bi-person-fill"></i>
                        </button>
                    </div>

                    <!-- 로그인/회원가입 모달-->
                    <div class="modal fade" id="signModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">로그인</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" th:action="@{/user/signin}">
                                        <div class="mt-2">
                                            <input type="text" class="form-control" name="username" placeholder="아이디" required autofocus />
                                        </div>
                                        <div class="mt-2">
                                            <input type="password" class="form-control" name="password" placeholder="비밀번호 입력" required>
                                        </div>
                                        <div class="mt-2">
                                            <input type="submit" class="btn btn-primary form-control" value="로그인">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <a th:href="@{/user/signup}" class="btn btn-secondary">회원가입</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 내 정보 드롭다운 -->
                    <div class="dropdown" sec:authorize="isAuthenticated()">
                        <button
                            class="btn btn-outline-light dropdown-toggle d-flex align-items-center p-1"
                            type="button"
                            id="profileDropdown"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            data-bs-auto-close="outside"
                        >
                            <img th:src="@{/images/profile_icon_example.jpg}" alt="Profile" class="profile-img me-2"
                            	style="width: 30px; height: 30px;" />
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end custom-dropdown" aria-labelledby="profileDropdown">
                            <li class="px-3 py-2">
                                <div class="d-flex align-items-center">
                                    <img th:src="@{/images/profile_icon_example.jpg}" alt="Profile" class="profile-img" />
                                    <div class="ms-3">
                                        <h6 class="mb-0" sec:authentication="principal.nickname"></h6>
                                        <span class="d-none" id="userId" sec:authentication="principal.id"></span>
                                        <a th:href="@{/user/details(id=${#authentication.principal.id})}">
                                            <small class="text-muted">내 정보</small>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li class="px-3 py-2">
                                <div class="row">
                                    <div class="d-flex align-items-center col-12 text-start border rounded-3 py-2 wallet">
                                        <span>코인</span>
                                        <button class="border-0" id="coinRefresh"><i class="bi bi-repeat"></i></button>
                                        <strong id="nowCoin" class="flex-grow-1 text-end">0</strong>
                                        <a th:href="@{/coinshop}">
                                            <button class="p-2 ms-2 text-center border rounded-3 wallet-now">충전</button>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center col-12 mt-2 text-start border rounded-3 py-2 wallet">
                                        <span>마일리지</span>
                                        <button class="border-0" id="mileageRefresh"><i class="bi bi-repeat"></i></button>
                                        <strong id="nowMileage" class="flex-grow-1 text-end">0</strong>
                                        <a th:href="@{#}">
                                            <button class="p-2 ms-2 text-center border rounded-3 wallet-now">교환</button>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item text-center fw-bold" th:href="@{/novel/my-works(id=${#authentication.principal.id})}">
                                    작품 관리하기
                                </a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li class="px-3 py-2">
                                <div class="row text-center">
                                    <div class="col-4">
                                        <a th:href="@{#}">
                                            <img th:src="@{/images/dropdown_icon_example.jpg}" /> <br>
                                            알림
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a th:href="@{#}">
                                            <img th:src="@{/images/dropdown_icon_example.jpg}" /> <br>
                                            코인 내역
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a th:href="@{#}">
                                            <img th:src="@{/images/dropdown_icon_example.jpg}" /> <br>
                                            선물함
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a th:href="@{#}">
                                            <img th:src="@{/images/dropdown_icon_example.jpg}" /> <br>
                                            이용권
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a th:href="@{#}">
                                            <img th:src="@{/images/dropdown_icon_example.jpg}" /> <br>
                                            공지사항
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a th:href="@{#}">
                                            <img th:src="@{/images/dropdown_icon_example.jpg}" /> <br>
                                            고객센터
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="dropdown-item text-white bg-danger text-center fw-bold pt-2 pb-2" th:href="@{/user/signout}">
                                    로그아웃
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
			
            <span id="errorMessage" class="d-none" th:text="${session.errorMessage}"></span>
            <script th:src="@{/js/fragments.js}"></script>
        </nav>

        <!-- 부트스트랩 -->
        <th:block th:fragment="bootstrapJS">
            <script
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"
            ></script>
        </th:block>

        <!-- Axios -->
        <th:block th:fragment="axiosJS">
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        </th:block>

        
    </body>
</html>