<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{layout/fragments :: htmlHead('라잇북스 : : 작품관리')}"></head>
	
	<body class="myworks-page">
		<th:block th:replace="~{layout/fragments :: pageHeader}"></th:block>
		<th:block th:replace="~{layout/myworks-fragments :: myworksHeader}"></th:block>
		<main>
			<div class="wrapper">
				<div class="container">
					<div class="novelList">
						<div th:each="novel : ${novels}" th:object="${novel}">
							<div class="my-novel" >
								<div class="novelCoverImg">
									<div class="gradeIcon">
										<span class="badge shimmer"
										      th:classappend="*{grade == 0 ? ' grade-free shimmer' : ' grade-paid shimmer'}"
										      th:text="*{grade == 0 ? '무료' : '유료'}">
										</span>
									</div>
									<a th:href="@{/novel/{id}(id=*{id})}">
										<img class="coverImg" th:src="@{${novel.coverSrc}}">
									</a>
								</div>
								
								
								<div class="novelContent">
									<div class="title-wrapper">
										
										<a th:href="@{/novel/{id}(id=*{id})}">
											<b th:text="*{title}"></b>
										</a>
										
										<div class="writer" th:text="*{writer}"></div>
									</div>
									
									<div class="intro" th:text="*{intro}"></div>
									
									<div class="stats">
										<i class="bi bi-person-plus-fill"></i>
										<span th:text="${novel.totalViews != null ? (novel.totalViews > 9999 ? '9999+' : novel.totalViews) : 0}"
										th:title="${novel.totalViews}">0</span>
										<i class="bi bi-heart"></i>
										<span th:text="${novel.likeCount != null ? (novel.likeCount > 9999 ? '9999+' : novel.likeCount) : 0}"
										th:title="${novel.likeCount}">0</span>
										
										<i class="bi bi-star"></i>
										<span th:text="${#numbers.formatDecimal(novel.rating, 1, 1)} ?: '0.0'"
										th:title="${novel.rating}">0.0</span>
									</div>
									
									<!-- 장르 -->
									<div class="genres">
										<span th:each="genre : ${novel.genres}" th:text="|웹소설-${genre}|"></span>
									</div>
								</div>
								<div class="novelModifyBtn">
					                <a class="btn" th:href="@{/novel/modify/{id}(id=${novel.id})}">작품수정</a>
					                <a class="btn"  th:href="@{/novel/{id}/episode/create(id=${novel.id})}">회차작성</a><!-- 추가 -->
					                <button class="btn" th:onclick="'location.href=\'/novel/premium/' + ${novel.id} + '\''"
					                 th:data-novel-id="${novel.id}"
					                 th:disabled="${premiumStatus[novel.id] == '대기중' or premiumStatus[novel.id] == '완료'}"
					                 th:text="${premiumStatus[novel.id] != null ? premiumStatus[novel.id] : '프리미엄 신청'}">
					                 </button>
								</div>
							</div>
							<hr/>
						</div>
					</div>
				</div>
			</div>
		</main>
		
		<th:block th:replace="~{layout/fragments :: footer}"></th:block>
        <th:block th:replace="~{layout/fragments :: bootstrapJS}"></th:block>
        <th:block th:replace="~{layout/fragments :: axiosJS}"></th:block>
	</body>
	<link rel="stylesheet" th:href="@{/css/mynovel.css}" />
</html>
