<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{layout/fragments :: htmlHead('라잇북스 : : 무료 - 자유')}"></head>
	
	<!-- 스와이퍼 -->
	<link
	  rel="stylesheet"
	  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
	/>
	
	<body th:attr="data-screen-id=${screenId}">
		<th:block th:replace="~{layout/fragments :: pageHeader}"></th:block>
			<div class="wrapper">
				<div class="container">
				
					<th:block th:fragment="subcategory">
						<div class="navbar-category">
							<div>		
								<div class="category-item" th:classappend="${screenId == 1} ? ' active' : ''">
									<a class="category-link" 
										th:href="@{|/${mainCategory}/${menuId}/screen/1|}" >자유</a>
								</div>
								<div class="category-item" th:classappend="${screenId == 2} ? ' active' : ''">
									<a class="category-link" 
										th:href="@{|/${mainCategory}/${menuId}/screen/2|}">베스트</a>
								</div>
								<div class="category-item" th:classappend="${screenId == 3} ? ' active' : ''">
									<a class="category-link" 
										th:href="@{|/${mainCategory}/${menuId}/screen/3|}">오늘신작</a>
								</div>
								<div class="category-item" th:classappend="${screenId == 4} ? ' active' : ''">
									<a class="category-link" 
										th:href="@{|/${mainCategory}/${menuId}/screen/4|}">판타지</a>
								</div>
								<div class="category-item" th:classappend="${screenId == 5} ? ' active' : ''">
									<a class="category-link" 
										th:href="@{|/${mainCategory}/${menuId}/screen/5|}">로맨스</a>
								</div>
								<div class="category-item" th:classappend="${screenId == 6} ? ' active' : ''">
									<a class="category-link" 
										th:href="@{|/${mainCategory}/${menuId}/screen/6|}">무협</a>
								</div>
								<div class="category-item" th:classappend="${screenId == 7} ? ' active' : ''">
									<a class="category-link" 
										th:href="@{|/${mainCategory}/${menuId}/screen/7|}">로판</a>
								</div>
								<div class="category-item" th:classappend="${screenId == 8} ? ' active' : ''">
									<a class="category-link" 
										th:href="@{|/${mainCategory}/${menuId}/screen/8|}">현판</a>
								</div>
								<div class="category-item" th:classappend="${screenId == 9} ? ' active' : ''">
									<a class="category-link" 
										th:href="@{|/${mainCategory}/${menuId}/screen/9|}">드라마</a>
								</div>
							</div>
						</div>
					
					<div class="dropdown notice">
						<button id="notice-first" class="w-100 btn dropdown-toggle text-start" style="background: #f6f6f6; font-size: 15px; font-weight: bold;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							
						</button>
						<ul id="notice-items" class="dropdown-menu w-100 pb-0">

						</ul>
					</div>
					</th:block>
					
					<div class="swiper-container">
						<!-- 스와이퍼 -->
						<!-- Slider main container -->
						<div class="swiper">
						  <!-- Additional required wrapper -->
						  <div class="swiper-wrapper">
						    <!-- Slides -->
						    <div class="swiper-slide">
						    	<a href="#">
							    	<img alt="" src="/images/resource.jpg">
						    	</a>
						    </div>
						    <div class="swiper-slide">
						    	<a href="#">
						    	<img alt="" src="/images/fantasy_2.jpg">
						    	</a>
						    </div>
						    <div class="swiper-slide">
						    	<a href="#">
						    	<img alt="" src="/images/fantasy_3.jpg">
						    	</a>
						    </div>
						    <div class="swiper-slide">
						    	<a href="#">
						    	<img alt="" src="/images/fantasy_6.jpg">
						    	</a>
						    </div>
						    <div class="swiper-slide">
						    	<a href="#">
						    	<img alt="" src="/images/fantasy_4.jpg" >
						    	</a>
						    </div>
						    <div class="swiper-slide">
						    	<a href="#">
						    	<img alt="" src="/images/fantasy_5.jpg">
						    	</a>
						    </div>
						    
						  </div>
						  <!-- If we need pagination -->
						  <div class="swiper-pagination"></div>
						
						  <!-- If we need navigation buttons -->
						  <div class="swiper-button-prev"></div>
						  <div class="swiper-button-next"></div>
						
						  <!-- If we need scrollbar -->
	<!-- 					  <div class="swiper-scrollbar"></div> -->
						</div>
					</div>


					<div class="novel-container">
						<section class="bestNovels">
							<div class="subTitle">
								<span class="font">추천신작</span>			
								<i class="bi bi-caret-right-fill"></i>											
							</div>
							<div id="bestNovelsContainer" class="novel-grid">
							
							</div>
						</section>
							
						
						<section class="freeNovels">
							<div class="subTitle">
								<span class="font">인기 연재작</span>			
								<i class="bi bi-caret-right-fill"></i>											
							</div>
							<div id="freeNovelsContainer" class="novel-grid">
							
							
							</div>
						</section>
						
						
						<section class="paidNovels">
							<div class="subTitle">
								<span class="font">인기 완결작</span>			
								<i class="bi bi-caret-right-fill"></i>											
							</div>
						
							<div id="paidNovelsContainer" class="novel-grid">
							
							
							</div>
						</section>
											
						<section class="genre-novels">
						  <div id="genreNovelsContainer">
					
						  </div>
						</section>
						
						<section class="eventNovels">
							<div class="subTitle">
								<span class="font">웹소설 이벤트</span>			
								<i class="bi bi-caret-right-fill"></i>											
							</div>
							<div id="eventNovelsContainer" class="novel-grid">
							
							</div>
						</section>
				</div>
			</div>
		</div>	
		<th:block th:replace="~{layout/fragments :: footer}"></th:block>
        <th:block th:replace="~{layout/fragments :: bootstrapJS}"></th:block>
        <th:block th:replace="~{layout/fragments :: axiosJS}"></th:block>
        <script th:src="@{/js/home-free.js}"></script>
        <!-- 스와이퍼 -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	</body>
   	<link rel="stylesheet" th:href="@{/css/home-free.css}" />
</html>