<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{/layout/fragments :: htmlHead('insert title')}"></head>
	<body>
		<th:block th:replace="~{/layout/fragments :: pageHeader}"></th:block>
		
		<main class="card">
			<div class="card-body">
				<div class="row mg-b-25">
					<div class="col-4 card" th:object="${novel}">
						<img th:src="@{/images/testimg.jpg}" style="width: 90%">

						<div>
							<label class="form-label" for="title">작품명</label>
							<input type="text" name="title" class="form-control" th:value="*{title}" readonly>
						</div>
						<div class="">
							<label class="form-label" for="writer">작성자</label>
							<input type="text" name="writer" class="form-control" th:value="*{writer}" readonly>
						</div>
						<div th:if="*{userId eq #authentication.principal.id}">
							<div>
								<a th:href="@{/novel/modify/{id}(id=${novel.id})}">작품 수정</a>
							</div>
							<div>
								<a th:href="@{/novel/{id}/episode/create(id=${id})}">회차 작성</a>
							</div>
						</div>
						
					</div>
					
					<!------ 회차 리스트 ------->
					<div class="col-lg-8 card">
						<th:block th:replace="~{episode/listOfNovelDetails :: episodeListOfNovelDetails}"></th:block>
					</div>
					<div>
						<div>
							<label class="form-label" for="intro">댓글</label>
							<textarea class="form-control" rows="5" name="intro"></textarea>
						</div>
					</div>
				</div>
			</div>
		</main>
		
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
        <th:block th:replace="~{/layout/fragments :: axiosJS}"></th:block>
	</body>
	<script th:src="@{/js/episode-listOfNovelDetails.js}"></script>
</html>
