<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{/layout/fragments :: htmlHead('insert title')}"></head>
	<style>
		.star {
		    font-size: 30px;
		    color: gray;
		    cursor: pointer;
		    transition: color 0.2s ease-in-out;
		}
	
		#openRatingBtn:hover {
			color:white;  
		}
		
		.btnLikeWithRating{
			display : flex;
			justify-content: center;
	        align-items: center;
	        margin-top: 20px;
		}
		
		#btnLike , #openRatingBtn{
		    font-size: 24px; /* 아이콘 크기 */
		}
		
		
	</style>
	
	<body>
		<th:block th:replace="~{/layout/fragments :: pageHeader}"></th:block>
		
		<main class="card">
			<div class="card-body">
				<div class="row mg-b-25">
					<div class="col-4 card" th:object="${novel}">
						<img th:src="@{/images/testimg.jpg}" style="width: 90%">
						
						
		
						<div>
							<label class="form-label" for="title">작품명</label>
							<input type="text" name="title" class="form-control" th:value="*{title}" readonly>
						</div>
						<div class="">
							<label class="form-label" for="writer">작성자</label>
							<input type="text" name="writer" class="form-control" th:value="*{writer}" readonly>
						</div>
						
						<div>
							
						</div>
						
						<div th:if="*{userId eq #authentication.principal.id}">
							<div>
								<a th:href="@{/novel/modify/{id}(id=${novel.id})}">작품 수정</a>
							</div>
							<div>
								<a th:href="@{/novel/{id}/episode/create(id=${id})}">회차 작성</a>
							</div>
						</div>
						
					</div>
					
					<!------ 회차 리스트 ------->
					<div id="episodeListContainer" class="col-lg-8 card">
					    <th:block th:replace="~{episode/listOfNovelDetails :: episodeListOfNovelDetails}"></th:block>
					</div>
					
					<!-- 좋아요 별점 버튼들 -->
					<div class="btnLikeWithRating mt-2">
						<div class="btn-container">
							<button id="btnLike" th:data-novel-id="*{id}" th:data-user-id="${#authentication.principal != null ? #authentication.principal.id : 0}" 
								class="btn btn-outline-danger p-4 h-2 me-3">
								<i class="bi bi-heart-fill"></i>
								<span id="likeCount" th:text="*{likeCount}"></span>
							</button>
						</div>


						<div>
							<button id="openRatingBtn" 
								class="btn btn-outline-warning p-4 h-2"
								data-bs-toggle="modal" data-bs-target="#ratingModal">
								<i class="bi bi-star-fill"></i>
								<span id="averageRating">0.0</span> / 5.0
							</button>
						</div>

					<!-- 별점 기능 -->
					<!-- Modal -->
					<div class="modal fade" id="ratingModal" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5 text-center">
									    <i class="bi bi-star-fill text-warning"></i> 
									    별점 등록 
									    <i class="bi bi-star-fill text-warning"></i>
									</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div class="modal-body text-center">
									<h3>별을 클릭하세요</h3>
									<div id="stars">
										<span class="bi bi-star star" data-value="1"></span>
										<span class="bi bi-star star" data-value="2"></span>
										<span class="bi bi-star star" data-value="3"></span>
										<span class="bi bi-star star" data-value="4"></span>
										<span class="bi bi-star star" data-value="5"></span>
									</div>
									<input type="hidden" id="selectedRating" name="rating" value="0">
								</div>

								<div class="modal-footer">
									<button type="button" id="btnRatingSubmit" class="btn btn-success form-control">확인</button>
								</div>
							</div>
						</div>
					</div>
					</div>
					
					
					
					<!-- 댓글 기능 -->
					<div>
						<div>
							<label class="form-label" for="intro">댓글</label>
							<textarea class="form-control" rows="5" name="intro"></textarea>
						</div>
					</div>
				</div>
			</div>
			<input type = "hidden" id = "novelId" th:value = "${novel.id}">
		</main>
		
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
        <th:block th:replace="~{/layout/fragments :: axiosJS}"></th:block>
	</body>
	<th:block th:replace="~{/layout/fragments :: footer}"></th:block>
	<script th:src="@{/js/novel-details.js}"></script>
	<script th:src="@{/js/episode-listOfNovelDetails.js}"></script>
</html>
