<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{layout/fragments :: htmlHead('라잇북스 : : 작품수정')}"></head>
	
	<style>
		img {
			display: flex;
			width:90%;
		}
	</style>
	
	<body>
		<th:block th:replace="~{layout/fragments :: pageHeader}"></th:block>

		

		<main>
			<div class="wrapper">
				<div class="container">
				
					<form id="novelUpdateForm" method="post" th:action="@{/novel/update}">
						<div class="d-flex-area" th:object="${novel}">
							
							<!-- 이미지 박스 -->
							<div class="image-box">
					  			<div class="image-card">
						    		<div class="image-label">
						    		현재 표지 이미지
						    		</div>
							    	<div class="image-wrapper">
					        			<img id="coverPreview" th:src="*{coverSrc}" alt="미리보기">
								    </div>
							    	<div class="image-caption">
							    		이미지를 새로 선택하면 변경됩니다.
							    	</div>
						  		</div>
							</div>
						
							<div>
								<div class="inputContainer">
									<div class="d-none">
										<input type="text" name="id" id="id" th:value="*{id}">
									</div>
									<div class="d-none">
										<input type="text" name="userId" id="userId" class="form-control" th:value="${#authentication.principal.id}">
									</div>
						            <div>
						                <label class="form-label" for="title" >작품명<span class="text-danger">*</span></label>
						                <input type="text" name="title" class="form-control" th:value="*{title}">
						            </div>
						            
						            <div>
						                <label class="form-label">메인장르<span class="text-danger">*</span></label>
						                <select class="form-select" name="genreId">
						            		<option value="1" th:selected="${novelGenre != null && novelGenre.genre.id == 1}">판타지</option>
						            		<option value="2" th:selected="${novelGenre != null && novelGenre.genre.id == 2}">로맨스</option>
						            		<option value="3" th:selected="${novelGenre != null && novelGenre.genre.id == 3}">무협</option>
						            		<option value="4" th:selected="${novelGenre != null && novelGenre.genre.id == 4}">로판</option>
						            		<option value="5" th:selected="${novelGenre != null && novelGenre.genre.id == 5}">현판</option>
						            		<option value="6" th:selected="${novelGenre != null && novelGenre.genre.id == 6}">드라마</option>
						            	</select>
						            </div>
						            <div>
									    <label for="novelState" class="form-label">연재 정보<span class="text-danger">*</span></label>
									    <select class="form-select" name="state" id="state">
									        <option value="1" th:selected="*{state == 1}">연재중</option>
									        <option value="0" th:selected="*{state == 0}">완결</option>
									        <option value="2" th:selected="*{state == 2}">휴재</option>
									        <option value="3" th:selected="*{state == 3}">완결예정</option>
									    </select>
									</div>
									
									
						            <div class="checkBox"> 
						                <label class="form-label">연재요일<span class="text-danger">*</span></label>
						                <br/>
						                <div class="form-check form-check-inline">
											<input class="form-check-input days" type="checkbox" name="days" id="inlineCheckbox1" value="월요일" 
												th:checked="*{days.contains('월요일')}">
											<label class="form-check-label" for="inlineCheckbox1">월요일</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input days" type="checkbox" name="days" id="inlineCheckbox2" value="화요일" 
												th:checked="*{days.contains('화요일')}">
											<label class="form-check-label" for="inlineCheckbox2">화요일</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input days" type="checkbox" name="days" id="inlineCheckbox3" value="수요일" 
												th:checked="*{days.contains('수요일')}">
											<label class="form-check-label" for="inlineCheckbox3">수요일</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input days" type="checkbox" name="days" id="inlineCheckbox4" value="목요일" 
												th:checked="*{days.contains('목요일')}">
											<label class="form-check-label" for="inlineCheckbox4">목요일</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input days" type="checkbox" name="days" id="inlineCheckbox5" value="금요일" 
												th:checked="*{days.contains('금요일')}">
											<label class="form-check-label" for="inlineCheckbox5">금요일</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input days" type="checkbox" name="days" id="inlineCheckbox6" value="토요일" 
												th:checked="*{days.contains('토요일')}">
											<label class="form-check-label" for="inlineCheckbox6">토요일</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input days" type="checkbox" name="days" id="inlineCheckbox7" value="일요일" 
												th:checked="*{days.contains('일요일')}">
											<label class="form-check-label" for="inlineCheckbox7">일요일</label>
										</div>
										<div class="form-check form-check-inline">
											<input class="form-check-input days" type="checkbox" name="days" id="inlineCheckbox0" value="비정기" 
												th:checked="*{days.contains('비정기')}">
											<label class="form-check-label" for="inlineCheckbox0">비정기</label>
										</div>
						            </div>
						            
						            <div>	
						            	<label class="form-label" for="ageLimit">연령 <span class="text-danger">*</span> </label>
						            	<select class="form-select" name="ageLimit">
						            		<option value="0" th:selected="*{ageLimit == 0}">전 연령</option>
						            		<option value="1" th:selected="*{ageLimit == 1}">15세 연령가</option>
						            		<option value="2" th:selected="*{ageLimit == 2}">19세 연령가</option>
						            	</select>
						            </div>
						            <div class="intro-group">
						                <label class="form-label intro-label" for="intro">작품소개 <span class="text-danger">*</span> <span id="introLength">0 / 100</span></label>
						                <textarea class="form-control" rows="5" name="intro" id="intro" th:text="*{intro}" maxlength="200" required></textarea>
						            </div>
						            <div>
						                <label class="form-label">북커버 표지(400x600)</label>
										<br/>
										<!-- 파일 선택 (jpeg, png, gif, webp) -->
										<div class="fileBtnWrap">
											<input type="file" id="coverInput"  accept="image/*" style="display: none;"/> 
											<div class="">
												<button type="button" id="customFileBtn" ><i class="bi bi-folder2-open"></i> 파일선택</button>
												<span id="fileName">선택된 파일 없음</span> <!-- 파일명 표시 영역 -->
											</div>
											<input type="button" id="resetImageBtn" class="btn btn-sm btn-outline-danger" value="삭제">
											<input type="hidden" name="coverSrc" id="coverSrc">
										</div>
						            </div>
						            
						            <div class="btnModify">
		   								<button id="btnUpdate" class="mx-1 btn btn-primary">업데이트</button>
						            	<button id="btnDelete" class="mx-1 btn btn-danger">작품삭제</button>
						            </div>
								</div>
							</div>
						</div>
					</form>
				</div>
            </div>
        </main>
		
		
		<th:block th:replace="~{layout/fragments :: footer}"></th:block>
        <th:block th:replace="~{layout/fragments :: bootstrapJS}"></th:block>
        <th:block th:replace="~{layout/fragments :: axiosJS}"></th:block>
        <script th:src="@{/js/novel-modify.js}"></script>
	</body>
	<link rel="stylesheet" th:href="@{/css/novel-modify.css}" />
</html>
