<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{/layout/fragments :: htmlHead('insert title')}"></head>
	<body>
		<th:block th:replace="~{/layout/fragments :: pageHeader}"></th:block>
		
		<div class="wrapper">
		<main>
			<section>
				<input type="hidden" id="searchKeyword" th:value=${keyword}>
				<div id="titleResultContainer">
				
				</div>
				
				<div id="writerResultContainer">
				
				</div>	
			</section>	
		</main>
			
			<th:block th:replace="~{/layout/fragments :: footer}"></th:block>
		
		</div>
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
        <th:block th:replace="~{/layout/fragments :: axiosJS}"></th:block>
        <script th:src="@{/js/novel-search.js}"></script>
	</body>
        <link rel="stylesheet" th:href="@{/css/novel-search.css}" />
</html>
