<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{layout/fragments :: htmlHead('라잇북스 : : 추천 - 베스트')}"></head>
	<!-- 스와이퍼 -->
	<link
	  rel="stylesheet"
	  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
	/>
	<body th:attr="data-screen-id=${screenId}">
		<th:block th:replace="~{layout/fragments :: pageHeader}"></th:block>
			<div class="wrapper">
				<div class="container">
					
					<th:block th:replace="~{home :: subcategory}"></th:block>
					<div class="novel-container">
						<div class="datenow mt-2">
							<span class="text-muted ms-2" style="font-size:12px;">기준 날짜: <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy년 M월 d일')}"></span></span>				
						</div>
						<section class="bestNovels">
							<div class="novel-grid" id="novel-grid">
							
							<!-- 자바스크립트가 여기에 -->
							
							</div>
						</section>
					</div>
			</div>
		</div>	
		<th:block th:replace="~{layout/fragments :: footer}"></th:block>
        <th:block th:replace="~{layout/fragments :: bootstrapJS}"></th:block>
        <th:block th:replace="~{layout/fragments :: axiosJS}"></th:block>
        <script th:src="@{/js/home.js}"></script>
        
        <!-- 스와이퍼 -->
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
	</body>
	<link rel="stylesheet" th:href="@{/css/home.css}" />
</html>