@charset "UTF-8";

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* 전체 화면을 차지하도록 설정 */
}

.container {
	max-width: 900px; /* 원하는 최대 너비 지정 가능 */
	margin: 0 auto; /* 중앙 정렬 */
}

/* 스와이퍼 */
.swiper-container{
	margin-top:10px;
	margin-bottom:10px;	
}

.swiper {
	width: 850px;
	height: 100%;
	border-radius: 12px;
}

.swiper-slide {
	width: 800px;
	height: 450px;
	max-width: 800px;
	transition: transform 0.3s ease;
	margin: auto;
	
	overflow: hidden;
	border-radius: 12px;
}

.swiper img {
	max-width: 100%;
	width: 800px;
	height: 100%;
	object-fit: cover;
}


.swiper-button-next, .swiper-button-prev {
	background: rgba(0, 0, 0, 0.4); /* 검정 + 40% 투명도 */
	color: white;
	border-radius: 50%; /* 원형 버튼 */
	width: 35px;
	height: 35px; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}	

.swiper-pagination-bullet{
	background: white;
}

.novel-container>div {
	margin-top: 8px;
}

.novel-container {
	background: white;
	height: 100%;
	max-width: 860px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px auto 0 auto; /* 위 20px, 좌우 auto, 아래 0 */
}

.novelImgs {
	border-radius: 8px;
	aspect-ratio: 2/3;
	object-fit: cover;
	height: 200px;
	margin-right: 6px;
}

/* 카테고리 전체 wrapper */
.navbar-category {
	max-width: 860px;
	top: 40px;
	padding: 5px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	
}

/* 개별 카테고리 버튼 (div) */
.category-item {
	display: inline-block;
	padding: 6px 14px;
	margin-right: 6px;
	border-radius: 20px;
	transition: background 0.2s ease, color 0.2s ease;
	border: 0.5px solid #f6f6f6;
}

/* 선택된 버튼 */
.category-item.active {
	background: #66b2ff !important;
	color: white !important;
	font-weight: bold;
	text-decoration: underline !important;
}

/* 링크 스타일 */
.category-link {
	color: inherit; /* 상위 div 색 따라감 */
	font-size: 14px;
	text-decoration: none;
	display: inline-block;
}
.category-item:hover {
	background: #f6f6f6;
	cursor: pointer;
}
/* -------------- */
div.notice {
	background-color: #f6f6f6;
	margin: auto;
	width: 850px;
	border-radius: 10px;
	border: 0px solid gray;
}


/* 세션별 */
.novel-section {
	width: 860px;
	margin: 40px auto;
}
.subTitle{
	top: 0;
   	left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
	border-bottom: 2px solid #66b2ff;
	margin-top: 20px;
}
span.font {
	font-size: 17px;
	font-weight: bold;
	cursor: pointer;
}

.novel-grid {
	width: 860;
	margin: 10px auto 0 auto;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 3px;
	
}

.novel-card {
	width: 100%;
	box-sizing: border-box;
	background: white;
	border-radius: 12px;
	font-size: 14px;
	
}
.novel-card > a {
	color: black;
	text-decoration: none;
}
.novel-card-title{
	margin-top: 5px;
	margin-bottom: 30px;
	max-width: 130px;
	word-break: break-word;       /* 단어 길어지면 줄바꿈 */
    text-align: left;             /* 왼쪽 정렬 */
    display: inline-block;        /* max-width 적용되도록 보완 */
}