<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{/layout/fragments :: htmlHead('insert title')}"></head>
	
	<style>
		th, td {
			text-align: center;
		}
	</style>
	<body>
		<th:block th:replace="~{/layout/fragments :: pageHeader}"></th:block>
		
		<main class="container-md">
			<div class="d-flex justify-content-center">
				<table class="table table-bordered table-striped table-hover table-responsive">
					<thead class="table-dark">
						<tr>
							<th>아이디</th>
							<th>유저아이디</th>
							<th>유저이름</th>
							<th>구분</th>
							<th>신청일</th>
							<th>상태</th>
							<th>확인</th>
						</tr>
					</thead>
					<tbody th:each="gradeReq : ${gradeReqs}" th:object="${gradeReq}">
						<tr>
							<td th:text="*{id}"></td>
							<td th:text="*{user.loginId}"></td>
							<td th:text="*{user.username}"></td>
							<td th:text="*{type == 0 ? '무료' : '유료'}"></td>
							<td th:text="*{createdTime}"></td>
							<td th:text="*{status == 0 ? '대기 중' : (status == 1 ? '완료' : '거절')}"></td>
							<td class="text-center">
								<!-- 상태가 0 이면 확인 버튼 -->
								<button th:if="*{status == 0}" th:attr="data-id=*{id}" id="btnCheck" class="btn btn-primary btn-sm">확인</button>
								
								<!-- 상태가 0 이면 거절 버튼 -->
								<button th:if="*{status == 0}" th:attr="data-id=*{id}" id="btnCancleCheck" class="btn btn-danger btn-sm">거절</button>
								
								<span th:if="*{status == 1}" class="text-success">완료</span>
								<span th:if="*{status == 2}" class="text-danger">거절</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
		
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
        <th:block th:replace="~{/layout/fragments :: axiosJS}"></th:block>
		<script th:src="@{/js/premium-request.js}"></script>
	</body>
</html>