<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{layout/fragments :: htmlHead('라잇북스 : : 내 알림')}"></head>
	
	<style>
		.notification-item:hover .notification-div {
			background-color: #f0f0f0;
			font-weight: bold;
		}
	</style>
	<body>
		<th:block th:replace="~{layout/fragments :: pageHeader}"></th:block>
		
		<main>
			<div class="container-sm w-50 mt-3">
				<div class="d-flex justify-content-between">
					<button id="btnAllDelete" class="disabled btn btn-outline-danger">모두 삭제</button>
					<button id="btnAllReadAtList" class="disabled btn btn-outline-primary">모두 읽기</button>
				</div>
				<div id="notificationSection">
				</div>
			</div>
		</main>
		
		<th:block th:replace="~{layout/fragments :: footer}"></th:block>
		
        <th:block th:replace="~{layout/fragments :: bootstrapJS}"></th:block>
        <th:block th:replace="~{layout/fragments :: axiosJS}"></th:block>
        <script th:src="@{/js/user-notification.js}"></script>
	</body>
</html>