<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{layout/fragments :: htmlHead('라잇북스 : : 회원가입')}"></head>
	<style>
		.profile-active {
			outline: 3px solid #007bff !important;
		}
	</style>
	<body>
		<th:block th:replace="~{layout/fragments :: pageHeader}"></th:block>
		
        <main class="container-sm">
            <div class="card card-body w-50 mx-auto">
                <form method="post">
                    <div class="mt-2">
                        <label for="loginId" class="form-label">아이디</label>
                        <input id="loginId" class="form-control" type="text" name="loginId" maxlength="20" required autofocus>
                        <div id="checkLoginIdResult" class="check-result"></div>
                    </div>
                    <div class="mt-2">
                        <label for="password" class="form-label">비밀번호</label>
                        <input id="password" class="form-control" type="password" name="password" maxlength="20" required>
                        <div id="checkPasswordResult" class="check-result"></div>
                    </div>
                    <div class="mt-2">
                        <label for="nickname" class="form-label">닉네임</label>
                        <input id="nickname" class="form-control" type="text" name="nickname" maxlength="20" required>
                        <div id="checkNicknameResult" class="check-result"></div>
                    </div>
                    <div class="mt-2">
                        <label for="username" class="form-label">이름</label>
                        <input id="username" class="form-control" type="text" name="username" maxlength="10" required>
                    </div>
                    <div class="row mt-2">
	                    <div class="col-6">
	                        <label class="form-label">성별</label><br>
	                        <input id="male" name="gender" type="radio" value="0" checked> <label for="male">남성</label> 
	                        <input id="female" name="gender" type="radio" value="1"> <label for="female">여성</label>
	                    </div>
	                    <div class="col-6">
	                        <label for="year" class="form-label">태어난 연도</label>
	                        <select id="year" name="year" class="form-control">
	                        </select>
	                    </div>
                    </div>

                    <div class="mt-2">
                        <label for="phonenumber" class="form-label">전화번호</label>
                        <input id="phonenumber" class="form-control" type="text" name="phonenumber" maxlength="13" required>
                        <div id="checkPhonenumberResult" class="check-result"></div>
                    </div>
                    <div class="mt-2">
                        <label for="email" class="form-label">이메일</label>
                        <input id="email" class="form-control" type="email" name="email" maxlength="20" required>
                        <div id="checkEmailResult" class="check-result"></div>
                    </div>
                    <div class="mt-2">
                        <label for="imgSrc" class="form-label">프로필</label>
                        <div class="text-center">
							<img class="profile-img rounded-circle border m-1 profile-active" th:src="@{/images/profiles/profile1.png}" data-set-src="/images/profiles/profile1.png">
	                        <img class="profile-img rounded-circle border m-1" th:src="@{/images/profiles/profile2.png}" data-set-src="/images/profiles/profile2.png">
	                        <img class="profile-img rounded-circle border m-1" th:src="@{/images/profiles/profile3.png}" data-set-src="/images/profiles/profile3.png">
	                        <img class="profile-img rounded-circle border m-1" th:src="@{/images/profiles/profile4.png}" data-set-src="/images/profiles/profile4.png">
	                        <img class="profile-img rounded-circle border m-1" th:src="@{/images/profiles/profile5.png}" data-set-src="/images/profiles/profile5.png">
	                        <img class="profile-img rounded-circle border m-1" th:src="@{/images/profiles/profile6.png}" data-set-src="/images/profiles/profile6.png">
	                        <img class="profile-img rounded-circle border m-1" th:src="@{/images/profiles/profile7.png}" data-set-src="/images/profiles/profile7.png">
	                        <img class="profile-img rounded-circle border m-1" th:src="@{/images/profiles/profile8.png}" data-set-src="/images/profiles/profile8.png">
	                        <img class="profile-img rounded-circle border m-1" th:src="@{/images/profiles/profile9.png}" data-set-src="/images/profiles/profile9.png">
	                        <img class="profile-img rounded-circle border m-1" th:src="@{/images/profiles/profile10.png}" data-set-src="/images/profiles/profile10.png">
	                        <img class="profile-img rounded-circle border m-1" th:src="@{/images/profiles/profile11.png}" data-set-src="/images/profiles/profile11.png">
	                        <img class="profile-img rounded-circle border m-1" th:src="@{/images/profiles/profile12.png}" data-set-src="/images/profiles/profile12.png">
	                        <img class="profile-img rounded-circle border m-1" th:src="@{/images/profiles/profile13.png}" data-set-src="/images/profiles/profile13.png">
	                        <img class="profile-img rounded-circle border m-1" th:src="@{/images/profiles/profile14.png}" data-set-src="/images/profiles/profile14.png">
	                        <img class="profile-img rounded-circle border m-1" th:src="@{/images/profiles/profile15.png}" data-set-src="/images/profiles/profile15.png">
                        </div>
                        <input id="imgSrc" class="d-none" type="text" name="imgSrc" value="/images/profiles/profile1.png" readonly required>
                    </div>                 
                    <div class="mt-2">
                        <input type="submit" id="btnSignUp" class="btn btn-success form-control disabled" value="가입" onclick="alert('회원가입이 완료되었습니다.\n로그인해주세요.')">
                    </div>
                </form>
            </div>
        </main>
        
        <th:block th:replace="~{layout/fragments :: footer}"></th:block>
		
        <th:block th:replace="~{layout/fragments :: bootstrapJS}"></th:block>
        <th:block th:replace="~{layout/fragments :: axiosJS}"></th:block>
        <script th:src="@{/js/user-signup.js}"></script>
	</body>
</html>