<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{/layout/fragments :: htmlHead('insert title')}"></head>
	<body>
		<th:block th:replace="~{/layout/fragments :: pageHeader}"></th:block>
		
        <main class="container-sm">
            <div class="card card-body w-50 mx-auto">
                <form method="post">
                    <div class="mt-2">
                        <label for="nickname" class="form-label">닉네임</label>
                        <input id="nickname" class="form-control" type="text" name="nickname" th:value="${user.nickname}" maxlength="20" required>
                        <div id="checkNicknameResult" class="check-result"></div>
                    </div>
                    <div class="mt-2">
                        <label for="phonenumber" class="form-label">전화번호</label>
                        <input id="phonenumber" class="form-control" type="text" name="phonenumber" th:value="${user.phonenumber}" maxlength="13" required>
                        <div id="checkPhonenumberResult" class="check-result"></div>
                    </div>
                    <div class="mt-2">
                        <label for="email" class="form-label">이메일</label>
                        <input id="email" class="form-control" type="email" name="email" maxlength="20" th:value="${user.email}" required>
                        <div id="checkEmailResult" class="check-result"></div>
                    </div>
                    <!-- 철거 예정 -->
                    <div class="mt-2">
                        <label for="imgSrc" class="form-label">프로필</label>
                        <input id="imgSrc" class="form-control" type="text" name="imgSrc" value="value" readonly required>
                        <div id="checkEmailResult" class="check-result"></div>
                    </div>
					<div class="mt-2">
                        <label for="password" class="form-label">현재 비밀번호</label>
                        <input id="password" class="form-control" type="password" name="password" maxlength="20" required>
                        <div id="checkPasswordResult" class="check-result"></div>
                    </div>                 
                    <div class="mt-2 row">
	                    <div class="col-3">
	                    	<div>
	                    		<!-- TODO: 이미지 미리보기 영역 -->
	                    	</div>
	                    </div>
	                    <div class="col-9">
	                    	<div>
	                    		<!-- 
	                    		<input class="form-control form-control-sm" type="file" name="imgSrc" id="imgSrc" accept="image/jpg, image/jpeg, image/png">
	                    		 -->
	                    	</div>
	                    </div>
                   </div>
                    <div class="mt-2">
                        <input type="submit" id="btnSignUp" class="btn btn-success form-control disabled" value="가입">
                    </div>
                </form>
            </div>
        </main>
		
        <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
        <th:block th:replace="~{/layout/fragments :: axiosJS}"></th:block>
	</body>
</html>